coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=8080
query.max-memory={{PRESTO_QUERY_MAX_MEMORY}}
query.max-memory-per-node={{PRESTO_QUERY_MAX_MEMORY_PER_NODE}}
query.max-total-memory-per-node={{PRESTO_QUERY_MAX_TOTAL_MEMORY_PER_NODE}}
memory.heap-headroom-per-node={{PRESTO_MEMORY_HEAP_HEADROOM_PER_NODE}}
discovery-server.enabled=true
discovery.uri={{PRESTO_DISCOVERY_URI}}
node.internal-address-source=FQDN
http-server.https.enabled=true
http-server.https.port=8081
http-server.https.keystore.path={{PRESTO_KEYSTORE_DIR}}/keystore.jks
http-server.https.keystore.key=example
internal-communication.https.required=true
internal-communication.https.keystore.path={{PRESTO_KEYSTORE_DIR}}/keystore.jks
internal-communication.https.keystore.key=example
